@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
body {
  background-color: #d5c9db;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #6e7487;
  font-size: 22px;
  line-height: 1.5em;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2{
  font-size: 22px;
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #6B72E1;
  font-weight: 600;
}

a:hover {
  background: #c9b3d3;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.container {
  margin: 20px;
  padding: 50px;
  display: block;
}
.card {
  background: white;
  margin: 20px 0px;
  padding: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.img-circle {
  border-radius: 60%;
}

.list-inline {
  list-style: none;
  padding: 0 2px 0 0;
}

li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
